/* *** *** FOOTER STYLES *** *** */

#nuFooter a {
    /*color: #999;*/
}


#nuFooterWrap {
    width: 100%;
    padding-bottom: 5px; 
    font-size: 0.85em;
    text-align: center;
    color: #000;
    border-top: 1px solid #ddd;
}

#nuFooterInner {
    width: 99%;
    float: left;
    display: inline;
    margin: 0;
    padding: 0.9em 0 0 0;
    text-align: right;
    line-height: 1.5em;
    border: 0px solid red;
}

#nuFooterLogo
{
	background-image: url(../images/footer_nul.png);
	background-repeat: no-repeat;
	background-position: 0 0;
	width: 81px;
	min-height: 102px;
	float: left;
	display: inline;
	margin: 0;
	padding: 0;
	border: 0px #CCC solid;
}

#nuFooterAddress {
    float: left;
    text-align: left;
    padding: 0 1em 1em 1.4em;
}

#satAddressBlock {
    float: left;
    text-align: left;
    padding: 0 1em 1em 0.5em;
    color: #999;
}

#satAddressBlock a, #satAddressBlock a:link, #satAddressBlock a:hover, #satAddressBlock a:visited {
    color: #999;
}

#satAddressBlock a:hover {
    text-decoration: underline;
}

#nuFooterLinks {
    text-align: right;
    border: 0px solid yellow;
}

#nuLinks1 {
	float: right; 
	text-align: left; 
	padding: 0 1em 0 1em;
}

#nuLinks2 {
	float: right; 
	text-align: left; 
	padding: 0 1em 0 1em;
}

@media screen and (max-width: 835px)  {
	#nuLinks1, #nuLinks2 {
		float:left;
		width:auto;
		padding-left: 0;
	}
	#nuFooterLinks, #satAddressBlock {
		clear: both;
		margin-left: 90px;
	}
}

