/* *** *** FOOTER STYLES *** *** */

#nuFooter a {
    /*color: #999;*/
}


#nuFooterWrap {
    width: 100%;
    padding-bottom: 5px; 
    font-size: 0.85em;
    text-align: center;
    color: #000;
    border-top: 1px solid #ddd;
}

#nuFooter1 {
    background-image: url(../images/footer_nul.png);
    background-repeat: no-repeat;
    background-position: 5px 0;
    width: 81px;
    min-height: 102px; 
    float: left;
    display: inline;
    margin: 0;
    padding: 0;
}

#nuFooter2 {
    width: 87%;
/*    height: 130px; */
    float: left;
    display: inline;
    margin: 0;
    padding: 0.9em 0 0 0;
    text-align: right;
    line-height: 1.5em;
}

#nuFooter3 {
    width: 8px;
/*    height: 130px; */
    float: left;
    display: inline;
    margin: 0;
    padding: 0;
}

#nuFooterAddress {
    float: left;
    text-align: left;
    padding: 0 1em 1em 1.4em;
}

.footerAddressBlock {
    float: left;
    text-align: left;
    padding: 0 1em 1em 0.5em;
    color: #999;
}

.footerAddressBlock a, .footerAddressBlock a:link, .footerAddressBlock a:hover, .footerAddressBlock a:visited {
    color: #999;
}

.footerAddressBlock a:hover {
    text-decoration: underline;
}

#nuFooterLinks {
    text-align: right;
}
